nav{
    width: 1200px;
    margin: 0 auto;
    padding: 15px;
    height: 60px;
    
}
.n-title{
    display: flex;
    justify-content: space-around;
}
.n-title a{
    color: #666;
    padding: 0 40px;
    display: block;
    line-height: 30px;
}
.n-title a:hover{
    border-radius: 50px;
    background-color: #800080;
    color: #fff;
}
main{
    width: 1200px;
    margin: 0 auto;
}
.banner{
    position: relative;
    overflow: hidden;
}
.rotation{
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
}

.left,.right{
    width: 50px;
    height: 50px;
    background-color: #800080;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    text-align: center;
    line-height: 50px;
    opacity: 0.6;
}
.left:hover,.right:hover{
    opacity: 1;
}
.left:hover i,.right:hover i{
    color: #fff;
}
.left{
    left: -50px;
    transition: all 0.3s;
}
.right{
    right: -50px;
    transition: all 0.3s;
}
.item{
    display: flex;
    flex-wrap: wrap;
}
.item>li{
    margin-left: 15px;
}
.name{
    font-size: 16px;
    color: #424242;
}
.shop{
    margin-top: 10px;
}
.shop img{
    width: 220px;
    height: 220px;
}
.introduce{
    width: 220px;
    height: 30px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}
.price{
    color: #ff4500;
}
.together{
    width: 44px;
    height: 25px;
    padding: 2px 6px;
    color: #fff;
}
.sales{
    color: #fa4c81;
}
footer{
    width: 1200px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.pic {
    display: flex;
    position: absolute;
    left: 0;
}


