header {
    width: 100%;
    padding-top: 20px;
    position: relative;
    box-shadow: 0px 2px 6px #999;
}

.h-top {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.h-top img {
    width: 188px;
    height: 75px;
    vertical-align: middle;
}

.search {
    width: 600px;
    font-size: 0;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 18px;
}

.s-box {
    width: 369px;
    height: 40px;
    padding: 0 15px;
    vertical-align: middle;
    border: 1px solid #dcdfe6;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.s-box::-webkit-input-placeholder {
    /*WebKit browsers*/
    color: #c0c4cc;
}

.s-box::-moz-input-placeholder {
    /*Mozilla Firefox*/
    color: #c0c4cc;
}

.s-box::-ms-input-placeholder {
    /*Internet Explorer*/
    color: #c0c4cc;
}

.s-btn {
    height: 40px;
    padding: 8px 30px;
    background-color: #fff;
    border: 1px solid #dcdfe6;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.h-bottom {
    width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
}

.h-bottom>ul {
    display: flex;
}

.h-bottom li {
    margin-left: 20px;
}
.index>li>a{
    display: block;
    padding: 10px 20px;
    color: inherit;
    font-weight: 600;
}
.loading{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #eeeeee;
    opacity: 0.9;
    display: none;
}
.loading>img{
    width: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.t-return{
    width: 66px;
    height: 60px;
    padding: 10px;
    background-color: #993399;
    opacity: 0.8;
    position: fixed;
    right: 100px;
    bottom: 100px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    line-height: 20px;
    cursor: pointer;
    display: none;
}
.t-return:hover{
    opacity: 1;
}
.left{
    width: 122px;
    border: 1px solid #986d98;
    padding: 10px;
    position: fixed;
    text-align: center;
    line-height: 30px;
    left: 10px;
    top: 35%;
    border-radius: 5px;
    display: none;
    background-color: #fff;
}
.left>p{
    cursor: pointer;
}
.left>p:hover{
    font-weight: bolder !important;
    color: purple !important;
    filter: drop-shadow(0 0 10px purple) !important;
}
.title{
    text-align: center;
}