<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/classify.css">

<nav>
    <ul class="n-title">
        <li><a href="#">咖啡</a></li>
        <li><a href="#">饮食</a></li>
        <li><a href="#">正餐</a></li>
        <li><a href="#">男装</a></li>
        <li><a href="#">女装</a></li>
        <li><a href="#">眼镜</a></li>
        <li><a href="#">鞋靴</a></li>
    </ul>
</nav>
<main>
    <div class="shop">
         
        <!-- <ul class="item">
            <li>
                <a href="./details.html">
                    <img src="../img/手冲咖啡.jpg" alt="">
                    <h3 class="name">手冲咖啡6杯装(定制款)</h3>
                    <p class="introduce">
                        <span class="price">￥59</span>
                        <span class="recommend">
                            <span class="together">一起拼</span>
                            <span class="sales">爆品</span>
                        </span>
                    </p>
                </a>
            </li> 
        </ul>  -->
    </div>
</main>
<script src="../js/jquery-3.4.0.min.js"></script>
<script src="../js/classify.js"></script>