<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/resgiter.css">
<link rel="stylesheet" href="../css/font_jrck4v87eg/iconfont.css">
<div>
    <input class="username" type="text" placeholder="用户名">
    <p class="userValue">请输入8-16位数字或字符</p>
    <input class="password" type="password" placeholder="密码">
    <p class="passValue">请输入8-12位数字字符下划线</p>
    <button class="signup">注册</button>
</div>

<script src="../js/jquery-3.4.0.min.js"></script>
<script src="../js/resgiter.js"></script>